.DS_Store
.vscode
Counting-ICCV-DSSINet/*.pyc
Counting-ICCV-DSSINet/*/*.pyc
Synthetic_Crowd/*
!Synthetic_Crowd/Assets/
Synthetic_Crowd/Assets/*
!Synthetic_Crowd/Assets/Scripts
!Synthetic_Crowd/Assets/CustomPrefabs
Synthetic_Crowd/Assets/CustomPrefabs/*.meta
Synthetic_Crowd/Assets/Scripts/*.meta