.DS_Store
.vscode
Counting-ICCV-DSSINet/*.pyc
Counting-ICCV-DSSINet/*/*.pyc
Counting-ICCV-DSSINet/._*
Counting-ICCV-DSSINet/saved_models
Counting-ICCV-DSSINet/ShanghaiTech
Counting-ICCV-DSSINet/src/._*
Synthetic_Crowd/*
!Synthetic_Crowd/Assets/
Synthetic_Crowd/Assets/*
!Synthetic_Crowd/Assets/Scripts
!Synthetic_Crowd/Assets/CustomPrefabs
Synthetic_Crowd/Assets/CustomPrefabs/*.meta
Synthetic_Crowd/Assets/Scripts/*.meta
